.header-min{
  height: 105px;
  min-height: initial;
  padding: 0;
  .treu1, .cube1 , .dots1, .dots2, .dots2-mob{
    display: none;
  }
 
}
.dots3{
  bottom: 20%;
}
.services{ 
  &__block-mob{
    display: none;
  }
}
.services-all{
  padding-top: 30px;
}
@media (max-width:550px){
  .services{
    &__block-mob{
      display: flex;
    }
  }
}

// @media (max-width:470px){
//   .services__inner{
//     width: 109% !important;
//     margin-top: -15px;
//   }
//   .services__wrapper{
//     flex-wrap: wrap;
//     margin-top: 15px;
//   }
//   .services__subtitle{
//     font-size: 17px;
//   }
  
// }
